<h1>Delete Account</h1>
<p>Are you sure you want to delete your account?</p>
<form method="POST" action="/deleteAccount">
    <label>
        Yes
        <input type="radio" id="deleteUserYes" name="deleteUser" value="yes" />
    </label>
    <label>
        No
        <input type="radio" id="deleteUserNo" name="deleteUser" value="no" checked="checked" />
    </label>
    <button type="submit">Submit</button>
</form>