<nav class="navbar navbar-default"> 
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand">Paper Trader</a>
		</div>
		<ul class="nav navbar-nav">
				<li><a href="/private/home">Home</a></li>
				<li><a href="/private/stockListings">SP 500</a></li>
				<li><a href="/private/stockHistory">History</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/updateUser"><span class="glyphicon glyphicon-edit"></span>Edit Account Info</a></li>
			<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
			<li class="active"><a href="/deleteAccount"><span class="glyphicon glyphicon-trash"></span>Delete Account</a> </li>
		</ul>
	</div>
</nav>

<h1>Delete Account</h1>
<p>Are you sure you want to delete your account?</p>
<form method="POST" action="/deleteAccount">
    <label>
        Yes
        <input type="radio" id="deleteUserYes" name="deleteUser" value="yes" />
    </label>
    <label>
        No
        <input type="radio" id="deleteUserNo" name="deleteUser" value="no" checked="checked" />
    </label>
    <button type="submit">Submit</button>
</form>