<h1>Login</h1>
<form action="/login" method="POST" id="loginForm">
    <label id="emailLabel">
        Email:
        <input type="text" id="email_input" name="email" />
    </label>
    <label id="passwordLabel">
        Password:
        <input type="text" id="password_input" name="password" />
    </label>
    <button type="submit">Submit</button>
</form>

{{#if hasErrors}}
<p>{{error}}</p>
{{/if}}

<div>
    New User? Sign up here:
    <a href="/signup">Sign Up</a>
</div>