<h1>Login</h1>
<form action="/login" method="POST" id="loginForm">
    <label id="usernameLabel">
        Username:
        <input type="text" id="username_input" name="username" />
    </label>
    <label id="passwordLabel">
        Password:
        <input type="text" id="password_input" name="password" />
    </label>
    <button type="submit">Submit</button>
</form>