<h1>Login</h1>
<form action="/login" method="POST" id="loginForm">
    <label id="emailLabel">
        Email:
        <input type="email" id="email_input" name="email" />
    </label>
    <label id="passwordLabel">
        Password:
        <input type="password" id="password_input" name="password" />
    </label>
    <button type="submit" id="login_button">Submit</button>
</form>

{{#if hasErrors}}
<p>{{error}}</p>
{{/if}}

<div>
    New User? Sign up here:
    <a href="/signup">Sign Up</a>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/public/js/jquery.blockUI.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="/public/js/user.js"></script>