<div class="container">
    <h1>Login</h1>
    <form action="/login" method="POST" id="loginForm">
        <div class="form-group">
            <label id="emailLabel">
                Email:
                <input type="email" id="email_input" name="email" placeholder="Enter email"/>
            </label>
        </div>
        <div class="form-group">
            <label id="passwordLabel">
                Password:
                <input type="password" id="password_input" name="password" placeholder="Enter password"/>
            </label>
        </div>
        <button type="submit" id="login_button" class="btn btn-default">Submit</button>
    </form>

    <div>
    New User? Sign up here:
    <a href="/signup">Sign Up</a>
    </div>
</div>

{{#if hasErrors}}
<p>{{error}}</p>
{{/if}}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/public/js/jquery.blockUI.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="/public/js/user.js"></script>