<main>
	<a href="/private" id="homeLink">Back to home page</a>

	<ul id="stockList" hidden></ul>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	<script src="/public/js/stockListings.js"></script>
</main>