<main>
	<nav class="navbar navbar-default"> 
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/private/home">Paper Trader</a>
			</div>
			<ul class="nav navbar-nav">
				 <li><a href="/private/home">Home</a></li>
				 <li class="active"><a href="/private/stockListings">SP 500</a></li>
				 <li><a href="/private/stockHistory">History</a></li>
				 <li><a href="/private/recommendations">Recommendations</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/updateUser"><span class="glyphicon glyphicon-edit"></span>Edit Account Info</a></li>
				<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
				<li><a href="/deleteAccount"><span class="glyphicon glyphicon-trash"></span>Delete Account</a> </li>
			</ul>
		</div>
	</nav>

	<ul id="stockList" hidden></ul>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	<script src="/public/js/stockListings.js"></script>
</main>