<link rel="stylesheet" href="/public/css/home.css">
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/private/home">Paper Trader</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="/private/home">Home</a></li>
			<li><a href="/private/stockListings">SP 500</a></li>
			<li><a href="/private/stockHistory">History</a></li>
			<li><a href="/private/favorites">Recommendations and Favorites</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="active"><a href="/updateUser"><span class="glyphicon glyphicon-edit"></span>Edit Account Info</a>
			</li>
			<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
			<li><a href="/deleteAccount"><span class="glyphicon glyphicon-trash"></span>Delete Account</a> </li>
		</ul>
	</div>
</nav>
<main>
	<h1>Update Account Information</h1>
	<form action="/updateUser" method="POST" id="updateForm">
		<label id="firstNameLabelUpdate">
			First Name:
			<input type="text" id="firstName_input_update" name="firstName" />
		</label><br />
		<label id="lastNameLabelUpdate">
			Last Name:
			<input type="text" id="lastName_input_update" name="lastName" />
		</label><br />
		<label id="emailLabelUpdate">
			Email:
			<input type="email" id="email_input_update" name="email" />
		</label><br />
		<label id="passwordLabelUpdate">
			Password:
			<input type="password" id="password_input_update" name="password" />
		</label><br />
		<label id="passwordConfirmLabelUpdate">
			Confirm Password:
			<input type="password" id="password_input_confirm" name="passwordConfirm" />
		</label><br />
		<label id="ageLabelUpdate">
			Age:
			<input type="number" id="age_input_update" name="age" min="0" step="1" />
		</label><br />
		<label id="cashLabelUpdate">
			Starting Cash:
			<input type="number" id="cash_input_update" name="cash" min="0" />
		</label><br />
		<button type="submit" id="update_button">Submit</button>
	</form>

	{{#if hasErrors}}
	<p>{{error}}</p>
	{{/if}}
</main>

<a href="/private" id="homeLink">Back to home page</a>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/public/js/jquery.blockUI.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="/public/js/user.js"></script>