.day {
	color: black;
}

.night {
	color: white;
}

button {
	color: black;
}

select {
	color: black;
}

input {
	color: black;
}

#stocksOwned p {
	transition: background-color 0.5s;
}

#stocksOwned p:hover {
	background-color: gold;
	color: black;
	font-size: 16px;
}

#errors_div {
	color: red;
}

.cashAndPortfolio {
	font-size: 24px;
	transition: font-size 0.5s;
}

.cashAndPortfolio:hover {
	font-size: 32px;
	color: rgb(20, 115, 204);
}

/* .cashAndPortfolioSpan {
	color: rgb(20, 115, 204);
} */

@media (min-width: 1000px) {
	#stocksOwned {
		position: absolute;
		top: 80px;
		right: 50px;
	}
}

@media (max-width: 999px) {
	#stocksOwned {
		position: relative;
	}
}
