.day{
    color: black;
}

.night{
    color: white;
}

button{
    color: black;
}

select{
    color: black;
}

input{
    color: black;
}

#stocksOwned{
    position: absolute;
    top: 80px;
    right: 50px;
}
